/*/
/* gridster
/*/

.gridster ul {
    /*background-color: #EFEFEF;*/
    list-style-type: none;
}

.gridster li {
    font-size: 1em;
}

.gridster {
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {
    cursor: pointer;
}

.gridster .player {
    background: #BBB;
}

.gridster .preview-holder {
    border: none!important;
    background: red!important;
}

.gs-resize-handle {
   opacity: 1;
}
