.widget-weather .main-div {
   width: 100%;
   text-align: center;
   display: flex;
   flex-direction: row;
   flex: 0 0 85%;
}

.widget-weather .condition {
   flex: 0 0 55%;
   text-align: center;
}

.widget-weather .temperature {
   flex: 0 0 45%;
   display: flex;
   flex-direction: row;
   text-align: center;
}

.widget-weather .condition i {
   margin: auto;
   text-align: center;
   padding: 10px;
}

.widget-weather .unit {
   flex: 0 0 20%;
   vertical-align:top;
}