.widget-shutter .mainDiv {
    flex: 1;
    display: flex;
}

.widget-shutter .shutter-image {
    flex: 1;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.widget-shutter .shutter-image:hover {
   cursor:pointer;
}

.widget-shutter .vertical-inverter {
    margin: auto;
}