.widget-shutter .mainDiv {
    flex: 1;
    display: flex;
    cursor: pointer;
}

.widget-shutter .disabled {
    cursor: not-allowed;
}

.widget-shutter .shutter-image {
    flex: 1;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.widget-shutter .vertical-inverter {
    margin: auto;
}
