.widget-moon .moonImage {
    width: 100%;
    flex: 1;
    font-family: "moon phases";
    text-align: center;
}

.widget-moon .moonPercentage {
    width: 100%;
    height: 30%;
    text-align: center
}
@font-face {
    font-family: "moon phases";
    src: url('font/moon_phases.ttf');
}