.widget-colorRGB .inline-main-div {
    display: inline-block;
    height:100%;
    width:100%;
}

.widget-colorRGB .cssClass .colorpicker-saturation {
        width: 150px;
        height: 150px;
        background-size: 150px 150px;
}

.widget-colorRGB .cssClass .colorpicker-hue,
.widget-colorRGB .cssClass .colorpicker-alpha {
        width: 15px;
        height: 150px;
        background-size: 15px 150px;
}

.widget-colorRGB .cssClass .colorpicker-color,
.widget-colorRGB .cssClass .colorpicker-color div {
        height: 15px;
        background-size: 15px 150px;
}

.widget-colorRGB .cssClass .colorpicker-selectors {
        height: 15px;
        width: 150px;
        background-size: 15px 150px;
}

.widget-colorRGB .cssClass .colorpicker-selectors-visible {
        height: 10px;
        width: 10px;
        background-size: 10px 10px;
}

.widget-colorRGB .cssClass .colorpicker-selectors-color {
        height: 10px;
        width: 10px;
        background-size: 10px 10px;
}