.widget-colorRGB .inline-main-div {
    display: inline-block;
    height:100%;
    width:100%;
}

.widget-colorRGB .colorpicker-size .colorpicker-saturation {
        width: 150px;
        height: 150px;
        background-size: 150px 150px;
}

.widget-colorRGB .colorpicker-size .colorpicker-hue,
.widget-colorRGB .colorpicker-size .colorpicker-alpha {
        width: 15px;
        height: 150px;
        background-size: 15px 150px;
}

.widget-colorRGB .colorpicker-size .colorpicker-color,
.widget-colorRGB .colorpicker-size .colorpicker-color div {
        height: 14px;
        background-size: 14px 150px;
}

.widget-colorRGB .colorpicker-size .colorpicker-selectors {
   display: none;
   height: 14px;
   width: 150px;
   margin-top: 4px;
   clear: both;
}

.widget-colorRGB .colorpicker-size .colorpicker-selectors i {
  cursor: pointer;
  float: left;
  height: 10px;
  width: 10px;
}

.widget-colorRGB .colorpicker-size .colorpicker-selectors i + i {
  margin-left: 3px;
}

.widget-colorRGB .colorpicker-size .colorpicker-selectors-color {
        height: 10px;
        width: 10px;
        background-size: 10px 10px;
}

/*
  this css is for hide border at top and left of the color picker
*/

.widget-colorRGB .colorpicker{
   top:-1px;
   left:0px;
}