# Notes:
#   - Minimal appveyor.yml file is an empty file. All sections are optional.
#   - Indent each level of configuration with 2 spaces. Do not use tabs!
#   - All section names are case-sensitive.
#   - Section names should be unique on each level.

# version format
version: 1.0.{build}

# Build worker image (VM template)
image: Visual Studio 2015

#---------------------------------#
#       build configuration       #
#---------------------------------#

# build platform, i.e. x86, x64, Any CPU. This setting is optional.
platform: Any CPU

# build Configuration, i.e. Debug, Release, etc.
configuration: Release

# scripts that run after cloning repository
install:
  - cmake --version

# scripts to run before build
before_build:
  # Yadoms configuration file
  - echo 'Configuring Yadoms CMakeListsUserConfig.txt'
  - echo cd = %cd%
  - echo 'set(BOOST_ROOT "%cd%/boost_1_63_0")' > sources/CMakeListsUserConfig.txt
  - echo 'set(POCO_ROOT "%cd%/poco-1.7.7-all")' >> sources/CMakeListsUserConfig.txt
  - echo 'set(PROTOBUF_ROOT "%cd%/protobuf-3.1.0")' >> sources/CMakeListsUserConfig.txt
  - echo 'set(GAMMU_ROOT "%cd%/gammu-1.38.1")' >> sources/CMakeListsUserConfig.txt
  - echo 'set(SWIG_ROOT "%cd%/swig-3.0.8")' >> sources/CMakeListsUserConfig.txt
  - echo 'set(COTIRE_USE ON)' >> sources/CMakeListsUserConfig.txt
  - echo 'set(COTIRE_USE_UNITY ON)' >> sources/CMakeListsUserConfig.txt
  - echo 'Result:'
  - cat sources/CMakeListsUserConfig.txt
  # Build solution
  - cmake_windows.cmd
  
  
build:
  parallel: true                  # enable MSBuild parallel builds
  project: yadoms.sln             # path to Visual Studio solution or project

  # MSBuild verbosity level
  verbosity: detailed