sources/CMakeListsUserConfig.txt
sources/scriptInterpreters/Python/yScriptApiWrapper/swigpyrun.h
sources/resources/windows/yadoms-generated.rc
*.pyc
*.orig
*.bak
cppcheck_result
tests/unit/sources/CMakeListsUserConfig.txt
tests/unit/builds/DEBUG
tests/user/user.pyproj
tests/user/.vs
tests/user/user.sln
.DS_Store
*.suo
*.db
sources/plugins/EnOcean/package.json
sources/plugins/EnOcean/locales
sources/plugins/EnOcean/profiles/generated*.cpp
sources/plugins/EnOcean/profiles/generated*.h
sources/scriptInterpreters/Python27/yScriptApiWrapper/swigpyrun.h
*.csproj.user
ideTools/versionPreBuildTool/VersionPreBuildTool/VersionPreBuildTool/obj
ideTools/versionPreBuildTool/VersionPreBuildTool/VersionPreBuildTool/bin/Debug
*.vshost.exe
*.vshost.exe.manifest
*.pdb
sources/scriptInterpreters/yPython27/yScriptApiWrapper/swigpyrun.h
tests/user/debug.log
sources/plugins/EnOcean/profiles/generated/*
tests/unit/builds
*~

.scannerwork
sources/www/.vscode
sources/www/.vs

*.kicad_pcb-bak
/sources/www/Web.config

/analysis/.vscode
/.vscode
/sources/plugins/OneWire/.vscode
