.widget-gauge .mainDiv {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    overflow: hidden;
}

.widget-gauge .innerDiv {
    width: 100%;
    height: 80%;
    text-align: center;
    margin: auto;
}

.widget-gauge .value {
    /*position: absolute;
    margin: auto;
    width: 40%;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;*/
    margin: auto;
    text-align: center;
    width: 100%;
    height: 20%;
}