.widget-gauge .mainDiv {
    text-align: center;
    overflow: hidden;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.widget-gauge .innerDiv {
    flex: 1 1 auto;
    min-height: 0;
}

.widget-gauge .valueAndUnit {
    position: absolute;
    bottom: 10%;
    height: 30%;
    left: 0;
    right: 0;
    text-align: center;
}

.widget-gauge .value {
    color: black;
    height: 50%;
}

.widget-gauge .unit {
    color: gray;
    height: 50%;
}

.widget-gauge .highcharts-container {
    text-align: center !important;
    width: 100% !important;
}