/*TODO : revérifier l'ensemble*/
/*Empty element to manage vertical alignment*/
.strut {
   height:100px;
   width:100px;
   vertical-align:middle;
   text-align: middle;
}

.moonPhasesWidgetData {
    font-size : 1.5em;
    line-height:normal ;
    position: relative;
    float:left;
    color:black;
}

.moonPhasesWidgetUnit {
    float:left;
    padding-top: 5px;
    color:black;
}

.moonPhasesWidgetValueArea {
    margin: 0 auto;
    display: table;
    color:black;
}
