/*TODO : revérifier l'ensemble*/
.strut {
   vertical-align:middle;
   text-align: center;  
   background-size: 100% 100%; 
   background-repeat: no-repeat;
   display: table;
   margin: 0 auto;
   display:table-cell;	
}

.moonPhasesWidgetData {
    font-size : 1.5em;
    line-height:normal ;
    position: relative;
    float:center;
    color:white;
    vertical-align:middle;
    text-align: center;	
    width: 50%;
    margin: 0 auto;
}