.widget-switch .main {
    padding: 0;
    overflow: hidden;
    flex: 1;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.widget-switch .action {
    flex: 1;
    margin: auto;
}

.widget-switch .toggle-action {
    flex: 1;
    align-self: center;
    justify-content: center;
}

.indeterminate {
	background-color: #89bbe6;
}

