.notificationSenderWidget {
    width: 100%;
    text-align: center;
    margin: auto;
}

.sendNotificationText{
    text-align: left;
}

.to {
   width: 30%;
   height: 34px;
   margin: 5px;
}

.body {
   width: 50%;
   line-height: 2em;
}

.btn {
    resize: none;
}

