#new-widget-carousel .carousel-inner {
    height: 250px;
    background: slategray;
}

#new-widget-carousel .carousel-caption {
    clear: both;
    left: auto;
    bottom: auto;
    text-align: center;
    width: 60%;
}

.carousel-widget-preview {
    clear: both;
    left: auto;
    bottom: auto;
    text-align: center;
    margin: 20px auto;
}