.main-dashboard-modal {
    width: 98%;
    /*height: 92%;*/
    padding: 0;
}

.main-dashboard-modal-content {
    /*height: 99%;*/
}

.dashboard-modal-body {
    padding-top: 0px;
    margin-left: -5px;
    padding-bottom: 0px;
    margin-bottom: -15px;
}

.sidebar {
    /*position: fixed;*/
    /*top: 51px;*/
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}

.summary-table {
    width: 50%;
    margin: auto;
}

.summary-table td {
    width: 50%;
}

.summary-table .header {
    text-align: right;
}

/*Automation rule edition part*/

.edit-automation-rule-modal {
    width: 90%;
    /*height: 92%;*/
    padding: 0;
}

.automation-rule {
    background-color: #ffffff;
    min-height: 150px;
}

.automation-rule ul.automation-rule-sub-item li.automation-rule-sub-item {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}

.automation-rule ul.automation-rule-first-item {
    padding: 0;
}

.automation-rule ul.automation-rule-sub-item li.automation-rule-sub-item::before,
.automation-rule ul.automation-rule-sub-item li.automation-rule-sub-item::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.automation-rule ul.automation-rule-sub-item li.automation-rule-sub-item::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}

.automation-rule ul.automation-rule-sub-item li.automation-rule-sub-item::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}

.automation-rule ul.automation-rule-sub-item li.automation-rule-sub-item > span {
    /*-moz-border-radius:2px;
    -webkit-border-radius:2px;
    border:1px solid #999;
    border-radius:2px;*/
    display:inline-block;
    /*padding:0px 0px;*/
    text-decoration:none;

    padding: 2px 2px 2px 2px;

    border-width: 1px 1px 1px 5px;
    border-style: solid;
    border-color: #bbb;
    border-radius: 3px;
}

.automation-rule ul.automation-rule-sub-item li.automation-rule-sub-item > span {
    margin-bottom: 0;
}

.automation-rule>ul.automation-rule-sub-item>li.automation-rule-sub-item::before,
.automation-rule>ul.automation-rule-sub-item>li.automation-rule-sub-item::after {
    border:0;
}
.automation-rule ul.automation-rule-sub-item li.automation-rule-sub-item:last-child::before {
    height:30px;
}
.automation-rule ul.automation-rule-sub-item li.automation-rule-sub-item.parent_li>span:hover,
.automation-rule ul.automation-rule-sub-item li.automation-rule-sub-item.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}

.invalid.automation-rule-item {
    border-left-color: #ce4844 !important;
}

.automation-rule-item .operator-selection {
    margin-right: 5px;
}

.automation-rule-item > .dropdown-menu {
    min-width: 60px;
}

.automation-rule-item > .content {
    display: inline;
    color: black;
    margin-right: 5px;
    cursor:pointer;
}


.blocklySvg {
    min-height: 400px;
    width: 100%;
    z-index: 9999 !important;
}

/**
Fix dropdown menus hidden by bootstrap modal
*/
.blocklyWidgetDiv {
    z-index: 9999 !important;
}

.blocklySelectedError>.blocklyPath {
    stroke: #f00;
    stroke-width: 3px;
}

.blocklySelectedError>.blocklyPathLight {
    display: none;
}


.edit-automation-rule-modal-blockly {
    width: 90%;
    /*height: 92%;*/
    padding: 0;
}

#edit-automation-rule-modal-blockly .blockly-content {
    min-height: 400px;
    height: 400px;
    width: 100%;
    z-index: 9999 !important;

}

.btn-blockly, .btn-language {
    margin : 10px;
    width : 150px;
    height : 100px;
}

.btn-model {
    margin : 10px;
    width : 200px;
    height : 150px;
}

.btn-model > div {
    white-space: normal;
}

#automation-rule-editor {
    height: 300px;
    border: 1px #ccc solid;
    margin-top: 15px;
}