.main-dashboard-modal {
    width: 98%;
    padding: 0;
}

.dashboard-modal-body {
    padding-top: 0;
    padding-bottom: 0;
}

.sidebar {
    /*position: fixed;*/
    /*top: 51px;*/
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}

.summary-table {
    width: auto;
}

.summary-table td {
    width: auto;
}

.summary-table .header {
    text-align: right;
}

.maintenance-table {
    width: 50%;
}

.maintenance-table td {
    width: 50%;
}

.maintenance-table .header {
    text-align: left;
}

/*Device edition part*/

.delete-device {
    margin-top: 15px;
}

/*Automation rule edition part*/

.edit-automation-rule-modal {
    width: 90%;
    height: 90%;
    padding: 0;
}

.show-log-automation-rule-modal {
    width: 80%;
    padding: 0;
}

.automation-rule {
    background-color: #ffffff;
    min-height: 150px;
}

.automation-rule ul.automation-rule-sub-item li.automation-rule-sub-item {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}

.automation-rule ul.automation-rule-first-item {
    padding: 0;
}

.automation-rule ul.automation-rule-sub-item li.automation-rule-sub-item::before,
.automation-rule ul.automation-rule-sub-item li.automation-rule-sub-item::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.automation-rule ul.automation-rule-sub-item li.automation-rule-sub-item::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}

.automation-rule ul.automation-rule-sub-item li.automation-rule-sub-item::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}

.automation-rule ul.automation-rule-sub-item li.automation-rule-sub-item > span {
    display:inline-block;
    text-decoration:none;
    padding: 2px 2px 2px 2px;
    border-width: 1px 1px 1px 5px;
    border-style: solid;
    border-color: #bbb;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.automation-rule ul.automation-rule-sub-item li.automation-rule-sub-item > span {
    margin-bottom: 0;
}

.automation-rule>ul.automation-rule-sub-item>li.automation-rule-sub-item::before,
.automation-rule>ul.automation-rule-sub-item>li.automation-rule-sub-item::after {
    border:0;
}
.automation-rule ul.automation-rule-sub-item li.automation-rule-sub-item:last-child::before {
    height:30px;
}
.automation-rule ul.automation-rule-sub-item li.automation-rule-sub-item.parent_li>span:hover,
.automation-rule ul.automation-rule-sub-item li.automation-rule-sub-item.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}

.invalid.automation-rule-item {
    border-left-color: #ce4844 !important;
}

.automation-rule-item .operator-selection {
    margin-right: 5px;
}

.automation-rule-item > .dropdown-menu {
    -moz-min-width: 60px;
    -ms-min-width: 60px;
    -o-min-width: 60px;
    -webkit-min-width: 60px;
    min-width: 60px;
}

.automation-rule-item > .content {
    display: inline;
    color: black;
    margin-right: 5px;
    cursor:pointer;
}

#edit-automation-rule-modal .modal-body {
    position: absolute;
    top: 50px;
    bottom: 60px;
    left: 0;
    right: 0;
}

#edit-automation-rule-modal .modal-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

#edit-automation-rule-modal .form-horizontal {
    height: 100%;
}

#automation-rule-editor {
    height: 100%;
    padding-bottom: 115px;
}

#automation-rule-editor > div {
    height: 100%;
}

.code-help-button {
    margin-top: 5px;
}

.blocklySvg {
    width: 100%;
    z-index: 9999 !important;
	display:block; /* fix svg growing up after each clic */
    height: 100%;
}

.blockly-container {
    height: 100%;
}

/**
Fix dropdown menus hidden by bootstrap modal
*/
.blocklyWidgetDiv {

    z-index: 9999 !important;

}



.blocklyToolboxDiv{

    z-index: 9999 !important;

}

.blocklyValidationDropdownError{
    font-style: italic;
    font-weight: bold;
}

.blocklySelectedError>.blocklyPath {
    stroke: #f00;
    stroke-width: 3px;
}

.blocklySelectedError>.blocklyPathLight {
    display: none;
}


.edit-automation-rule-modal-blockly {
    width: 800px;
    /*height: 92%;*/
    padding: 0;
}

#edit-automation-rule-modal-blockly .modal-body {
    width: 100%;
    z-index: 9999 !important;
}

#automation-rule-blockly-editor {
    min-height: 400px;
    height: 400px;
    width: 100%;
    z-index: 9999 !important;
}

.btn-editor-choice {
    margin : 10px;
    width : 150px;
    height : 100px;
}

.btn-model {
    margin : 10px;
    width : 200px;
    height : 150px;
}

.btn-model > div {
    white-space: normal;
}

.code-ide {
    padding-top: 5px;
    padding-bottom: 5px;
}

.code-editor {
    height: 100%;
    border: 1px #ccc solid;
}


.btn-combo {
   text-align: left;
}
.combo-item-title {
   font-weight: bold;
}
.combo-item-description {
   font-style: italic;
}

.current-selected-item {
   margin-right: 8px;
}

/*Menu with dropdown management*/
.dropdown-submenu {
    position: relative;
    -moz-min-width: 200px;
    -ms-min-width: 200px;
    -o-min-width: 200px;
    -webkit-min-width: 200px;
    min-width: 200px;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    -ms-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    -ms-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.keyword-list li {
    -moz-min-width:200px;
    -ms-min-width:200px;
    -o-min-width:200px;
    -webkit-min-width:200px;
    min-width:200px;
}

.recipient-list li {
    -moz-min-width:300px;
    -ms-min-width:300px;
    -o-min-width:300px;
    -webkit-min-width:300px;
    min-width:300px;
}

/*Install update dashboard page*/

#install-update-release-choice {
    width: auto;
}

.action-progression .progress {
    margin-bottom : 0;
}

.with-overflow-visible {
	overflow: visible !important;
}

.install-update-button-group {
	margin-top : 10px;
	margin-bottom : 20px;
}

/*! indicator to show a new update available*/
.update-available-label {
    margin-left: 5px;
}

/*Yadoms updating blocking splash screen*/
#yadoms-updating-splash {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background-color: white;
    padding: 30px;
    text-align: center;
}

#yadoms-updating-splash .progress {
    margin-top: 20px;
}

.panel-heading {
    cursor: pointer;
}

/* CSS Method for adding Font Awesome Chevron Icons */
.accordion-title:after {
    /* symbol for "opening" panels */
    font-family:'FontAwesome';
    content:"\f077";
    float: right;
    color: inherit;
}

.panel-heading.collapsed .accordion-title:after {
    /* symbol for "collapsed" panels */
    content:"\f078";
}

.dashboard-table-icon {
    max-height: 60px;
}

.extra-command-icon {
    margin-right: 5px;
}

.show-log-plugin-modal {
    width: 80%;
    padding: 0;
}

.modal-dialog {
    width: 80%;
}

.modal-explanation {
    margin: 20px 0;
    padding-left: 1.8em;
}

.confirm-dialog {
    width: 50%;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-info {
    border-left-color: #1b809e;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout-info h4 {
    color: #1b809e;
}

.developerModeWarning {
   display: none;
}
