.widget {
   background-color: transparent;
}

.ui-resizable-se {
    bottom: 2.5px !important;
}

#new-widget-carousel .carousel-inner {
    height: 250px;
    background: slategray;
}

#new-widget-carousel .carousel-caption {
    clear: both;
    left: auto;
    bottom: auto;
    text-align: center;
    width: 60%;
}

.carousel-widget-preview {
    clear: both;
    left: auto;
    bottom: auto;
    text-align: center;
    margin: 20px auto;
}

/*Widget container management*/

.grid-stack-item-content {
    height: 100%;
    width: 100% !important;
    left: 0 !important;
    right: 0 !important;
    padding: 2.5px;
    overflow: hidden!important;
}

.panel-widget {
    margin-bottom: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 1px 1px 3px 0 rgb(193, 193, 193);
    -ms-box-shadow: 1px 1px 3px 0 rgb(193, 193, 193);
    box-shadow: 1px 1px 3px 0 rgb(193, 193, 193);
}

.panel-widget-header {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding: 5px 8px;
    display: table-row;
    width: 100%;
    height: 25px;
}

.panel-widget-body {
    padding: 0;
    overflow: hidden;
    height: 100%;
    display: table;
    width: 100%;
}

.panel-widget-customization-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 18;
    margin: 2.5px;
    background-repeat: no-repeat;
    -ms-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -ms-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    background-image: url("../img/roadworks-widget.png");
    background-position: right top;
}

.widgetCustomizationToolbar {
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    margin-top: 3px;
}

.widgetCustomizationButton {
    color: white;
    -ms-text-shadow: 0 0 2px rgb(0, 0, 0);
    text-shadow: 0 0 2px rgb(0, 0, 0);
}

.panel-widget-title-toolbar {
    float: left;
    /*border-right: 1px solid white;*/
    padding-right: 2.5px;
    margin-top: 2px;   
}

.panel-widget-title {
    margin: 0 auto; 
	overflow: hidden; 
	white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 2px;
}

/*Widget toolbar API*/

.widget-toolbar-pressed-button {
    background: white;
    color: #428bca !important;
    padding-right: 4px;
    padding-left: 4px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.widget-toolbar-button {
    color: white;
    float: left;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}

.widget-toolbar-separator {
    float: left;
    height: 20px;
    border-left: 1px solid white;
    /* margin-top: 2px; */
    /* margin-bottom: 2px; */
    margin-left: 2px;
    margin-right: 2px;
}

.widget-toolbar-element {
    float: left;
    color: white;
    margin-left: 4px;
    margin-right: 4px;
}

.widget-toolbar-battery {
    float: left;
    color: white;
    margin-left: 4px;
    margin-right: 4px;
}

.widget-toolbar-battery span[class~=fa-battery-0] {
	color: red;
}