.widget {
   background-color: transparent;
}

.ui-resizable-se {
    bottom: 2.5px !important;
}

#new-widget-carousel .carousel-inner {
    height: 250px;
    background: slategray;
}

#new-widget-carousel .carousel-caption {
    clear: both;
    left: auto;
    bottom: auto;
    text-align: center;
    width: 60%;
}

.carousel-widget-preview {
    clear: both;
    left: auto;
    bottom: auto;
    text-align: center;
    margin: 20px auto;
}

/*Widget container management*/

.grid-stack-item-content {
    height: 100%;
    width: 100% !important;
    left: 0px !important;
    right: 0px !important;
    padding: 2.5px;
    overflow: hidden!important;
}

.panel-widget {
    margin-bottom: 0px;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.panel-widget-header {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 8px;
    display: table-row;
    width: 100%;
    height: 25px;
}

.panel-widget-body {
    padding: 0px;
    overflow: hidden;
    height: 100%;
    display: table;
    width: 100%;
}

.panel-widget-customization-overlay
{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 18;
    margin: 2.5px;
}

.widgetCustomizationToolbar {
    background-color: #428bca;
    border-left: 1px solid white;
    border-right: 0px;
    border-top: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom: 0px;
    margin-top: 3px;
}

.widgetCustomizationButton {
   color: white;
}

.panel-widget-title-toolbar {
    float: left;
    border-right: 1px solid white;
    padding-right: 2.5px;
    margin-top: 2px;   
}

.panel-widget-title {
}

/*Widget toolbar API*/

.widget-toolbar-pressed-button {
    background: white;
    color: #428bca !important;
    padding-right: 4px;
    padding-left: 4px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.widget-toolbar-button {
    color: white;
    float: left;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}

.widget-toolbar-separator {
    float: left;
    height: 20px;
    border-left: 1px solid white;
    /* margin-top: 2px; */
    /* margin-bottom: 2px; */
    margin-left: 2px;
    margin-right: 2px;
}

.widget-toolbar-element {
    float: left;
    color: white;
    margin-left: 4px;
    margin-right: 4px;
}

/*Standard battery widget indicator*/
.battery-widget {
    position: absolute;
    width: 20px;
    height: 10px;
    top: 0px;
    right: 0px;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url('../img/widgets/widget_battery_3.png');
    background-size: 100%;
}

/*Standard signal strength widget indicator*/
.signal-strength-widget {
    position: absolute;
    width: 20px;
    height: 10px;
    top: 0px;
    right: 40px;
}