/* Move down content because we have a fixed navbar that is 50px tall */
  
body {
    padding-bottom: 20px;
    background: url('../img/background.jpg');
    background-attachment: fixed;
    min-width: 265px;
}

/* Finesse the page header spacing */
.page-header {
    margin-bottom: 30px;
}
.page-header .lead {
    margin-bottom: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
/*
.nav-pills a {
    height: 50px;
    line-height: 50px;
}*/

#mainNavBar {
    /*background: rgba(210, 210, 210, 0.3);*/
}

#pageMenu {
    float:  none;
    margin-top: 10px;
}

#tabContainer {
    margin-left: 20px;
    margin-right: 20px;
}

.gridster > ul {
}

.widget {
    background-color: white;
}

.widget > div{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.widgetDiv {
    background-color: white;
}

/*Widget during customization*/
.liWidgetCustomization:before{
    content: " ";
    position: absolute;
    width: 90%;
    height: 50px;
    left: 5%;
    bottom: 25px;
    background: #000;
    -moz-box-shadow: 0 25px 15px rgb(0,0,0);
    -webkit-box-shadow: 0 25px 15px rgb(0,0,0);
    -o-box-shadow: 0 25px 15px rgb(0,0,0);
    -ms-box-shadow: 0 25px 15px rgb(0,0,0);
    -khtml-box-shadow: 0 15px 15px rgb(0,0,0);
    box-shadow: 0 25px 15px rgb(0,0,0);
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -khtml-transform: rotate(-5deg);
    transform: rotate(-5deg);
    z-index: -1;
}
.widgetCustomizationToolbar{
    z-index: 18;
    border-color: darkslategray;
    border-style: dashed;
    border-width: 1px;
    text-align: center;
}

.liWidgetCustomization:after{
    content: " ";
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 50px;
    left: 5%;
    bottom: 25px;
    background: #000;
    -moz-box-shadow: 0 25px 15px rgb(0,0,0);
    -webkit-box-shadow: 0 25px 15px rgb(0,0,0);
    -o-box-shadow: 0 25px 15px rgb(0,0,0);
    -ms-box-shadow: 0 25px 15px rgb(0,0,0);
    -khtml-box-shadow: 0 15px 15px rgb(0,0,0);
    box-shadow: 0 25px 15px rgb(0,0,0);
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -khtml-transform: rotate(5deg);
    transform: rotate(5deg);
    z-index: -1;
}

.customization-item > .btn-group {
    left: auto;
}

.tab-content {
    /*background: rgba(210, 210, 210, 0.5);*/
}

.btn-inverse {
    background: rgba(80, 80, 80, 0.3);
}

.navbar-nav .btn {
    margin-left: 10px;
}

.customization-item {

}

#btn-add-page a {
    width: 50px;
}

.pageCustomizationToolbar {
   position: absolute;
   right: 0px;
   top: 0px;
   margin-top: 2px;
   margin-right: 2px;
}