/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-bottom: 20px;
    background: rgb(234, 234, 234);
    -moz-background-size: 100% 100%; /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 100% 100%; /* Opera 9.5 */
    -webkit-background-size: 100% 100%; /* Safari 3.0 */
    -ms-background-size: 100% 100%;
    background-size: 100% 100%; /* Gecko 2.0 (Firefox 4.0) and other browsers compatible with CSS3 */
    -moz-border-image: url("../img/background2.jpg") 0; /* Gecko 1.9.1 (Firefox 3.5) */
    background-attachment: fixed;
    -moz-min-width: 265px;
    -ms-min-width: 265px;
    -o-min-width: 265px;
    -webkit-min-width: 265px;
    min-width: 265px;
}

.waiting-animation {
    color: #428bca;
}

/* Finesse the page header spacing */
.page-header {
    margin-bottom: 30px;
}

.page-header .lead {
    margin-bottom: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.application-logo {
    max-height: 50px;
    margin-right: 10px;
    margin-top: 2px;
}

#pageMenu {
    float: none;
    margin-top: 10px;
}

.btn-configure-widget,
.btn-delete-widget {
    color: white;
}

.ui-resizable-se {
    color: black !important;
}

.customization-item > .btn-group {
    left: auto;
}

.tab-content {
    /*background: rgba(210, 210, 210, 0.5);*/
}

.btn-inverse {
    /*background: rgba(80, 80, 80, 0.3);*/
}

.navbar-nav .btn {
    margin-left: 10px;
}

.customization-item {
}

/*We ensure that all modal can scroll the screen*/
.modal {
    overflow-x: hidden;
    overflow-y: auto !important;
}

#btn-add-widget {
    margin-top: 9px;
}

#btn-add-page {
    width: 0.0001%;
}

#btn-add-page a {
    border: 0;
    margin-left: 1px;
    background-image: url("../img/roadworks-pill.png");
    background-repeat: no-repeat;
    background-position: right top;
    cursor: pointer;
}

.customizationToolbar {
    position: absolute;
    right: 0;
    top: 0;
    -ms-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
}

.pageCustomizationToolbar {
    margin-right: 2px;
    cursor: default;
    font-size: 2em;
}

.customizationButton {
    float: left;
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer;
}

.pageCustomizationButton {
    -ms-text-shadow: 0 0 2px rgb(0, 0, 0);
    text-shadow: 0 0 2px rgb(0, 0, 0);
    color: white;
}

.pageCustomizationPill {
    background-image: url("../img/roadworks-pill.png");
    background-repeat: no-repeat;
    background-position: right center;
    width: 250px;
}

.navbar {
    background-color: #000000;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00, 50.00% 100.00%, color-stop( 0, rgba(0,0,0,0.00)),color-stop( 100%, rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0,rgba(0,0,0,0.00) 100%);
    /*height: 50px;*/
}

.navbar-static-top {
    width: 100%;
}

.popover {
    z-index: 9999;
    -moz-min-width: 200px;
    -ms-min-width: 200px;
    -o-min-width: 200px;
    -webkit-min-width: 200px;
    min-width: 200px;
}

.control-group:after {
    content: " ";
    display: block;
    clear: both;
}

.iconMenuItem {
    margin-right: 10px;
}

.radioSection {
    float: left;
}

#configure-widget-modal > .modal-dialog {
    width: 800px;
}

.configuration-section {
    padding: 15px;
    margin: 15px;
}

.configuration-radio-section {
    padding: 15px;
    margin: 15px;
}

.configuration-header {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.configuration-label-content {
    display: inline-block;
    float: left;
    text-align: left;
}

.configuration-label-name {
    font-weight: bold;
}

.configuration-label-description {
    clear: left;
    font-size: 0.8em;
    font-style: normal;
    font-weight: normal;
}

.configuration-control {
    vertical-align: middle;
}

.iconpicker > i {
    width: 14px;
    height: 14px;
}

.list-item-line > .col-md-11 {
    padding: 0;
}

.list-item-line > .col-md-11 > .control-group {
    margin: 0;
}

.list-parameter-handler-validation-textbox {
    height: 0;
    padding: 0;
    border: 0;
}

/*Dashboard*/

.dashboard-btn-new {
    margin-top: 10px;
    margin-bottom: 10px;
}

.dashboard-list td {
    padding: 8px;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
}

.dashboard-list {
    text-align: center;
    /*margin-left: auto;
   margin-right: auto;*/
    margin-top: 20px;
    width: initial;
}

    .dashboard-list td.long-text {
        white-space: pre;
    }

.table tbody > tr > td.vert-align {
    vertical-align: middle;
}

.logTextArea {
    height: 350px;
    -moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    resize: none;
}

.tabPagePills > a {
    border-radius: 0!important;
}

.tabPagePillsDropper {
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: 2px;
    border-style: dashed;
    background: lightgray;
    -ms-opacity: .7;
    opacity: .7;
    border-width: 2px;
    font-weight: bold;
    padding: 2px;
}

.modal-body {
    margin-left: 0 !important;
}

.modal-content {
    height: 100%;
}

/* fix blockly issue 1364 */
.blocklyWidgetDiv .goog-menu { 
   max-height: 215px; 
}
