.strut, .switchWidget {
   /*We allow to these elements to be vertical aligned*/
   display:inline-block;
   vertical-align:middle;
}

/*Empty element to manage vertical alignment*/
.strut {
   height:100%;
   width: 0px;
}

.switchWidget {
   width:100%;
   text-align: center;
   margin: auto;
}

.switchWidgetText {
   height: auto;
}

.switchWidgetBlind {

}