.numericDisplayWidgetText {
	margin: auto;
	text-align: center;
    font-size : 1.0em;
    line-height:normal ;
    position: relative;
    width: 100%;
}

.numericDisplayWidgetData {
    font-size : 2.2em;
    line-height:normal ;
    position: relative;
    float:left;
}

.numericDisplayWidgetUnit {
    float:left;
    padding-top: 5px;
}

.numericDisplayWidgetValueArea {
    margin: auto;
    display: table;
}

.numericDisplayWidget {
	margin: auto;
    height: 100px;
    width: 100px;
    text-align: center;
}
