.numeric-display-widget {
    height: 100%;
    width: 100%;
    text-align: center;
	position: relative;
    display: block;
}



.numeric-display-value {
	vertical-align:middle;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80%;
}

.numeric-display-unit {
	vertical-align:top;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20%;
}
