.widget-numeric-display .main-div {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

/*align-content: stretch;*/

.widget-numeric-display .unit {
    flex: 0 0 20%;
    vertical-align:top;
}