/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-bottom: 20px;
    background: url('img/background.jpg');
    background-attachment: fixed;
    min-width: 265px;
}

/* Finesse the page header spacing */
.page-header {
    margin-bottom: 30px;
}
.page-header .lead {
    margin-bottom: 10px;
}

/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Always float the navbar header */
.navbar-header {
    float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-toggle {
    display: none;
}
.navbar-collapse {
    border-top: 0;
}

.navbar-brand {
    margin-left: 10px;
    margin-right: 10px;
}

/* Always apply the floated nav */
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav > li {
    float: left;
}
.navbar-nav > li > a {
    padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
    float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    background-color: #fff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff !important;
    background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #999 !important;
    background-color: transparent !important;
}

.navbar {
	background-color: rgba(0,0,0,0.0);
	background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
	/*height: 50px;*/
}

.navbar-static-top {
    width: 100%;
}

/*
.navbar-nav.nav-justified > li{
    float:none;
}*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
/*
.nav-pills a {
    height: 50px;
    line-height: 50px;
}*/

#mainNavBar {
    height: 100px;
}

#pageMenu {
    float:  none;
}

#tabContainer {
    margin-left: 20px;
    margin-right: 20px;
}