.smileyWidget {
   /*We allow to these elements to be vertical aligned*/
   display:inline-block;
   vertical-align:middle;
}

.smileyWidget {
    width: 95%;
    text-align: center;
    margin: auto;
}

.smileyWidget > span {
   font-size: 7em;
}