
.temperatureWidget {
    font-size : 1.0em;
    line-height:normal ;
    position: relative;
    width: 100%;
    height: 100px;
}

.temperature {
    height: 50px;
    padding-left: 10%;
    text-align: right;
    float:left;
    font-size:2.6em;
}

.unit {
    float:left;
    padding-top: 10px;
    float:left;
}

.battery {
    clear: both;
    font-size:0.7em;
    margin-right: 10px;
    margin-left: 10px;
    text-align: left;
}
/*
 
  #simpleClockWidget {
   position: relative;
   margin: 20px auto 0 auto;
   background-size: contain;
   background: url(images/clockface.jpg);
   list-style: none;
   }
  
  .sec, .min, .hour {
   position: absolute;
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
   width: 50px;
   height: 50px;
   background-size: 50px;
   }
  
  .sec {
   background: url(images/sechand.png);
   z-index: 3;
   }
     
  .min {
   background: url(images/minhand.png);
   z-index: 2;
   }
     
  .hour {
   background: url(images/hourhand.png);
   z-index: 1;
   }
      
  p {
      text-align: center; 
      padding: 10px 0 0 0;
   }*/