.widget-forecast-weather .condition {
   display: flex;
   margin: 0 auto;
   justify-content: center;
   width: 100px;
}

.widget-forecast-weather .date {
   display: flex;
   justify-content: center;
   font-weight: bold;
}

.widget-forecast-weather .forecast-layout {
   flex-grow: 1;
   display: flex;
   flex-direction: row;
}

.widget-forecast-weather .condition-layout {
   margin: auto;
}

.widget-forecast-weather .period-layout {
   margin: auto;
   margin-top: 10px;
}

.widget-forecast-weather .layout {
   height: auto;
   flex-grow: 1;
   flex-wrap: no-wrap;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

.widget-forecast-weather .block {
   margin-top: 10px;
   margin-bottom: 10px;
}

.widget-forecast-weather .block-image {
   height: 20px;
}

.widget-forecast-weather .temp-min {
   color: blue;
}

.widget-forecast-weather .temp-max {
   color: red;
}