/*.strut {
   display:inline-block;
   vertical-align:middle;
}*/
/*We allow to these elements to be vertical aligned*/

/*Empty element to manage vertical alignment*/
.strut {
   height:100px;
   background:black;
   width:100px;
   vertical-align:middle;
   text-align: middle;
}

.moonPhasesWidgetData {
    font-size : 2.2em;
    line-height:normal ;
    position: relative;
    float:left;
    background:black;
    color:white;
}

.moonPhasesWidgetUnit {
    float:left;
    padding-top: 5px;
    background:black;
    color:white;
}

.moonPhasesWidgetValueArea {
    margin: 0 auto;
    display: table;
    background:black;
    color:white;
}
