.widget-forecast .condition {
   display: flex;
   margin: 0 auto;
   justify-content: center;
   width: 100px;
}

.widget-forecast .date {
   display: flex;
   justify-content: center;
}

.widget-forecast .forecastlayout {
   flex-grow: 1;
   display: flex;
   flex-direction: row;
}

.widget-forecast .daylayout {
   margin: auto;
}

.widget-forecast .layout {
   height: auto;
   flex-grow: 1;
   flex-wrap: no-wrap;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

.widget-forecast .block {
   margin-top: 10px;
   margin-bottom: 10px;
}

.widget-forecast .block-image {
   height: 20px;
}

.widget-forecast .temp-min {
   color: blue;
}

.widget-forecast .temp-max {
   color: red;
}