/* Move down content because we have a fixed navbar that is 50px tall */
  
body {
    padding-bottom: 20px;
    background: url('../img/background.png');
    -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 100% 100%;           /* Opera 9.5 */
    -webkit-background-size: 100% 100%;           /* Safari 3.0 */
    background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) et les autres navigateurs gérant CSS3 */

    -moz-border-image: url("../img/background2.jpg") 0;    /* Gecko 1.9.1 (Firefox 3.5) */

    background-attachment: fixed;
    min-width: 265px;
}

/* Finesse the page header spacing */
.page-header {
    margin-bottom: 30px;
}
.page-header .lead {
    margin-bottom: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#pageMenu {
    float:  none;
    margin-top: 10px;
}

#tabContainer {
    margin-left: 20px;
    margin-right: 20px;
}

.gridster > ul {
}

.widget {
   background-color: transparent;
}

.widget > div{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.widgetDiv {
   background-color: transparent;
}

/*Widget during customization*/
/*.liWidgetCustomization:before{
    content: " ";
    position: absolute;
    width: 90%;
    height: 50px;
    left: 5%;
    bottom: 25px;
    background: #000;
    -moz-box-shadow: 0 25px 15px rgb(0,0,0);
    -webkit-box-shadow: 0 25px 15px rgb(0,0,0);
    -o-box-shadow: 0 25px 15px rgb(0,0,0);
    -ms-box-shadow: 0 25px 15px rgb(0,0,0);
    -khtml-box-shadow: 0 15px 15px rgb(0,0,0);
    box-shadow: 0 25px 15px rgb(0,0,0);
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -khtml-transform: rotate(-5deg);
    transform: rotate(-5deg);
    z-index: -1;
}*/
.widgetCustomizationToolbar{
    z-index: 18;
    border-color: darkslategray;
    border-style: dashed;
    border-width: 1px;
    text-align: center;
}
/*
.liWidgetCustomization:after{
    content: " ";
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 50px;
    left: 5%;
    bottom: 25px;
    background: #000;
    -moz-box-shadow: 0 25px 15px rgb(0,0,0);
    -webkit-box-shadow: 0 25px 15px rgb(0,0,0);
    -o-box-shadow: 0 25px 15px rgb(0,0,0);
    -ms-box-shadow: 0 25px 15px rgb(0,0,0);
    -khtml-box-shadow: 0 15px 15px rgb(0,0,0);
    box-shadow: 0 25px 15px rgb(0,0,0);
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -khtml-transform: rotate(5deg);
    transform: rotate(5deg);
    z-index: -1;
}
*/
.customization-item > .btn-group {
    left: auto;
}

.tab-content {
    /*background: rgba(210, 210, 210, 0.5);*/
}

.btn-inverse {
    /*background: rgba(80, 80, 80, 0.3);*/
}

.navbar-nav .btn {
    margin-left: 10px;
}

.customization-item {

}

#btn-add-page a {
    width: 50px;
}

.pageCustomizationToolbar {
   position: absolute;
   right: 0px;
   top: 0px;
   margin-top: 2px;
   margin-right: 2px;
}

.navbar {
   background-color: rgba(0,0,0,0.0);
   background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
   background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
   background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
   /*height: 50px;*/
}

.navbar-static-top {
   width: 100%;
}

.popover {
   z-index: 9999;
   min-width: 200px;
}

.control-group:after {
   content: " ";
   display: block;
   clear: both;
}
.iconMenuItem {
    margin-right: 10px;
}

.radioSection {
    float: left;
}

.configuration-section {
    padding: 15px;
    margin: 15px;
}

.configuration-header {
    font-size:14px;
    font-weight:700;
    letter-spacing:1px;
    text-transform:uppercase;
}

.configuration-label {
}

.configuration-label-content {
    display:inline-block;
    float: left;
    text-align: left;
}

.configuration-label-name {
    font-weight: bold;
}

.configuration-label-description {
    clear: left;
    font-size: 0.8em;
    font-style: normal;
    font-weight: normal;
}

.configuration-control {
    vertical-align:middle;
}

/*Plugins Dashboard*/

#btn-instantiate-plugin {
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

#plugin-instance-list td {
    padding: 8px;
    vertical-align: middle;
    padding-left: 20px;
   padding-right: 20px;
}

#plugin-instance-list {
   text-align: center;
   /*margin-left: auto;
   margin-right: auto;*/
   margin-top: 20px;
   width : initial;
}

.plugin-icon {
   max-height: 50px;
}