.dimmer-widget {
    flex: 1;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.dimmer-widget-buttons {
    vertical-align:middle;
    margin: auto;
    width: 30%;
}

.dimmer-widget-button {
    height: 50%;
}

.dimmer-widget-value {
    vertical-align:middle;
    flex: 2;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    order: 1;
}

.dimmer-widget-unit {
	vertical-align:top;
    flex: 0 0 10%;
    align-items: stretch;
    order: 2;
}
