#new-widget-carousel .carousel-inner {
    height: 250px;
    background: slategray;
}

#new-widget-carousel .carousel-caption {
    clear: both;
    left: auto;
    bottom: auto;
    text-align: center;
    width: 60%;
}

.carousel-widget-preview {
    clear: both;
    left: auto;
    bottom: auto;
    text-align: center;
    margin: 20px auto;
}

/*Widget container management*/

.grid-stack-item-content {
    height: 100%;
    width: 100% !important;
}

.panel-widget {
    margin-bottom: 0px;
    display: table;
    width: 100%;
    height: 100%;
}

.panel-widget-title {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 8px;
    display: table-row;
    width: 100%;
}

.panel-widget-body {
    padding: 0px;
    overflow: hidden;
    height: 100%;
    display: table;
    width: 100%;
}

.panel-widget-customization-overlay
{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin-bottom: 0px;
    z-index: 18;
}

.widgetCustomizationToolbar {
   background-color: #428bca;
}

.widgetCustomizationButton {
   color: white;
}

/*Standard battery widget indicator*/
.battery-widget {
    position: absolute;
    width: 20px;
    height: 10px;
    top: 0px;
    right: 0px;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url('../img/widgets/widget_battery_3.png');
    background-size: 100%;
}

/*Standard signal strength widget indicator*/
.signal-strength-widget {
    position: absolute;
    width: 20px;
    height: 10px;
    top: 0px;
    right: 40px;
}