.widget-thermostat .main-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.widget-thermostat .thermostat-info{
    display: flex;
    flex-direction: row;
    flex : 0 0 30%;
    width: 70%;
}

.widget-thermostat .values-div {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.widget-thermostat .icon-div {
   margin : auto;
   width : 20px;
}

.widget-thermostat .value {
    margin:auto;
    text-align: center;
}

.widget-thermostat .buttonGroup {
    margin : auto;
}

.widget-thermostat .thermostatButton {
    background-color: #cccccc;
}

.btn-th,
.btn-group-th > .btn {
  padding: 2px 8px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}