.thermostat .main-div {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.thermostat .date-div {
    height: 15px;
    text-align: center;
    font-size: 9px;
}

.thermostat .unit {
    flex: 0 0 20%;
    vertical-align:top;
}