.widget-clock .date-field {
   margin-left:5px;
    flex: 0 1 5%;
    font-size: 1px;
    overflow-x: hidden;
    white-space: nowrap;
}

.widget-clock .time-field {
    margin: auto;
    flex: 1;
    width: 100%;
    text-align: center;
}

