.widget-clock .date-field {
   margin-left:5px;
    flex: 0 0 15%;
    font-size: 1px;
    overflow-x: hidden;
    white-space: nowrap;
}

.widget-clock .time-field {
    margin: auto;
    flex: 0 0 85%;
    width: 100%;
    text-align: center;
}